# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# assets data
Abyss Horizon/
Akushizu Senki/
Arpeggio of Blue Steel/
Azur Lane/
Battleship Bishoujo Puzzle/
Battleship Girl/
Battleship War Girl/
Black Surgenights/
Blue Oath/
Counter Arms/
Deep Sea Desire/
Franchise logo/
Guardian Project/
Kantai Collection/
Lane Girls/
Moe Moe World War II/
Shipgirls Collection/
Victory Belles/
Warship Girls R/
Velvet Code/
Akushizu Senki/
Warship Collection/

KansenIndex-web/